header {
    margin-bottom: 10px;
    padding-bottom: 2px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    border: 1px solid gray;
    padding: 1rem 1rem;
    margin: 10px;
}